node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
lambda/Archive.zip
cdk/outfile.txt
cdk/cdk.out
cdk/cdk.context.json
cdk/cdk.context.json.bin
cdk/cdk.out
cdk/cdk.out.zip
.DS_Store